* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Images/inv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
}

.main-content {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10rem;
}

.content-1 {
    margin-right: 4rem;
    margin-left: 2rem;
}


.content-2 {
    margin-left: 5rem;
}

/* a1:hover {

    cursor: pointer;
    color: tomato
} */

a {
    text-decoration: none
}

a:hover {
    color: tomato;
    cursor: pointer
}

/* 
@media(min-width=400px) {
    * {
        font-size: 40%
    }
} */